:root {
  --brand-color: #1fb1f3;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Hero header */
.hero-header-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/hero-background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  color: white;
  margin-left: 20px;
  font-size: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  height: 6%;
  position: relative;
}
.main-nav {
  display: flex;
  gap: 55px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.main-nav-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  flex-basis: 60%;
}

.main-nav-item {
  color: white;
  list-style-type: none;
  font-size: 25px;
  padding-left: 7px;
  padding-right: 7px;
}

.main-nav-item1 {
  border-bottom: 1px solid white;
  padding-bottom: 7px;
}

.main-nav-item:hover,
.main-nav-item:active,
.main-nav-item:focus {
  border-bottom: 1px solid white;
  padding-bottom: 7px;
  cursor: pointer;
}

.nav-search {
  display: inline-block;
  margin-right: 60px;
}

.main-button {
  box-sizing: border-box;
  background-color: var(--brand-color);
  margin-top: 10px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border-radius: 32px;
  padding: 15px 20px 15px 20px;
  border: 0;
}
.main-button:hover,
.main-button:focus,
.main-button:active {
  color: black;
  background-color: white;
}
.header-title {
  color: white;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 1.15;
  text-align: center;
  max-width: 610px;
  margin-bottom: 15px;
}
.header-subtitle {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 5px;
}
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.material-symbols-outlined {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  position: absolute;
  top: 30%;
  right: 210px;
}

/* Comercial section */
.comercial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 246, 244);
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 25px;
}
.comercial-text-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: left;
  margin-top: 70px;
  margin-bottom: 70px;
}

.detalii-button {
  margin-right: auto;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.comercial-title {
  font-size: 50px;
  line-height: 1.56;
  margin-bottom: 5px;
  color: rgb(38, 38, 38);
}

.comercial-subtitle {
  font-size: 21px;
  line-height: 1.52;
  color: rgb(38, 38, 38);
}

.comercial-text {
  font-size: 18px;
  line-height: 1.94;
  color: #808080;
}

/* Products section */

.products-container {
  display: flex;
  padding: 100px;
}

.products-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-content: flex-start;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.products-container-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
}

.products-title {
  color: #262626;
  font-size: 24px;
  line-height: 1.41;
  word-spacing: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.products-text {
  color: 4c4c4c;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  word-spacing: 0px;
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
}

.list-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-container-list-item .fa-solid,
.products-container-list-item .fa-brands,
.products-container-list-item .fa-sharp {
  width: 130px !important;
  color: #1fb1f3;
  font-size: 4em;
}
/* Website section */
.website-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.04;
  color: white;
  word-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
}

.website-subtitle {
  font-weight: 400px;
  margin-top: 0px;
  font-size: 21px;
  line-height: 1.52;
  color: white;
  word-spacing: 0px;
  text-align: left;
  margin-bottom: 40px;
}

.website-text {
  font-size: 18px;
  line-height: 1.94;
  color: white;
  text-align: left;
  margin-bottom: 55px;
}

.website-containing {
  padding-top: 60px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.website-section .detalii-button {
  color: white;
  margin-bottom: 60px;
  border-bottom: 1px solid white;
}

.website-section {
  background: rgb(32, 240, 224);
  background: linear-gradient(
    90deg,
    rgba(32, 240, 224, 1) 3%,
    rgba(33, 214, 243, 1) 19%,
    rgba(33, 150, 243, 1) 80%,
    rgba(31, 210, 241, 1) 86%
  );
}

.website-container {
  display: flex;
}

.creattion {
  display: flex;
  color: #262626;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  margin: 20px 20px 20px 20px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 4px;
  line-height: 1.5;
  margin-bottom: 100px;
  margin-left: 60px;
}

/* Projects section */
.projects-container-align {
  display: flex;
  justify-content: center;
}
.projects-container {
  display: inline-flex;
  flex-direction: column;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;
  margin-bottom: 40px;
}
.projects-title {
  color: #262626;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -2px;
  word-spacing: 0px;
  font-weight: 400;
  margin-bottom: 90px;
  margin-left: 15px;
}
.projects-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0px;
}
.project-list-item:not(:last-child) {
  margin-right: 30px;
}
.project-list-link {
  font-size: 19px;
  line-height: 1.89;
  color: #c8c8c8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.project-list-link:hover {
  color: #1a1a1a;
  cursor: pointer;
  border-top: 2px solid #1a1a1a;
}

.projects-pictures-align {
  display: flex;
  justify-content: center;
}
.projects-pictures {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.projects-pictures-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  height: 50%;
  width: 100%;
}
.thumb {
  position: relative;
  display: block;
  height: 300px;
  width: 25%;
}
.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #1a1a1a;
  transform: translatex(-100%);
  transition: transform 1000ms ease;
  padding: 20px 20px;
}
.overlay > h3 {
  color: white;
  font-size: 19px;
  line-height: 1.2;
  word-spacing: 0px;
}

.overlay > p {
  color: #595959;
  font-size: 16px;
  line-height: 1.3;
  word-spacing: 0px;
}

.overlay:hover {
  transform: translatex(0);
  cursor: pointer;
  overflow: visible;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
}

.project-button {
  color: white;
  font-size: 16px;
  line-height: 1.3;
  background-color: #262626;
  padding: 15px 30px 15px 30px;
  border-radius: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
  border: 0px;
}

.project-button:hover {
  cursor: pointer;
}

/* Review section */
.review-section {
  background-color: #f7f6f4;
  display: flex;
  align-items: center;
}
.align-review {
  display: flex;
  flex-direction: column;
  padding-bottom: 180px;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
}

.review-title {
  color: #262626;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 1.04;
  margin-bottom: 70px;
}
.review-container {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  background-color: white;
  box-shadow: 1px 3px 28px -3px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 1px 3px 28px -3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px 3px 28px -3px rgba(0, 0, 0, 0.62);
}
.review-container:first-child {
  margin-right: 30px;
}
.review-containers {
  display: flex;
}

.review-text {
  color: #808080;
  font-size: 18px;
  word-spacing: 0px;
  line-height: 1.94;
  margin-bottom: 25px;
  margin-top: 60px;
  margin-left: 30px;
}

.review-name {
  color: #262626;
  font-size: 21px;
  line-height: 1.52;
  word-spacing: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
}

.review-company {
  font-size: 15px;
  line-height: 1.46;
  color: #4c4c4c;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.svg1 {
  margin-left: auto;
  margin-right: auto;
}

/* Business section */
.business-section {
  height: 560px;
  background-image: linear-gradient(
      90deg,
      rgba(32, 240, 224, 0.7) 3%,
      rgba(33, 214, 243, 0.7) 19%,
      rgba(33, 150, 243, 0.7) 80%,
      rgba(31, 210, 241, 0.7) 86%
    ),
    url(../images/business-bg2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 100%;
  display: flex;
  align-items: center;
}

.business-align {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -70px;
}
.business-title {
  color: white;
  font-size: 34px;
  line-height: 1.35;
  word-spacing: 0px;
}
.icon {
  width: 15px;
  height: 14px;
  fill: currentColor;
  margin-right: 13px;
  position: relative;
  top: 1.5px;
}
.business-button {
  border-radius: 30px;
  padding: 17px 38px;
  color: #1a1a1a;
  font-size: 16px;
  word-spacing: 0px;
  border: 0px;
}
.business-button:hover {
  cursor: pointer;
}

/* Footer */

.footer-section {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
}

.footer-container1,
.footer-container2,
.footer-container3 {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-bottom: 85px;
}
.footer-container1 {
  flex-basis: 340px;
  margin-right: 70px;
  margin-left: auto;
}
.footer-container2 {
  flex-basis: 300px;
  margin-right: 200px;
}
.footer-container3 {
  flex-basis: 160px;
  margin-right: auto;
}

.container1-text {
  color: #595959;
  font-size: 18px;
  line-height: 1.8;
  word-spacing: 0px;
  margin-top: 0px;
}

.footer-container1 > .logo {
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.footer-titles {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 0px;
  padding: 0px;
  margin-bottom: 0px;
}
.footer-nav-list,
.footer-contact-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.footer-contact-link,
.footer-nav-link {
  font-size: 18px;
  line-height: 1.8;
  word-spacing: 0px;
  color: #808080;
  text-decoration: none;
}
.footer-contact-link:hover,
.footer-nav-link:hover {
  color: white;
}
.footer-contact-list {
  gap: 35px;
}
.footer-nav-list {
  gap: 15px;
}
